/* колір заголовків #212121 */
/* колір абзаців #757575 */
/* колір акценту #2196F3 */
/* колір фону героя #2F303A */
/* заголовок героя #FFFFFF */
:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --black-color: #000000;
  --footer-background: #2f303a;
  --footer-navigation: rgba(255, 255, 255, 0.6);
  --portfol-navig-background: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  font-weight: 400;
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}
ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin-bottom: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* .section {
  padding: 94px 0px 94px 0px;
  text-align: center;
} */
/* Шапка */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.web-word {
  color: var(--accent-color);
}
.studio-word {
  color: var(--black-color);
}

.site-navig a {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.site-navig a:hover,
.site-navig a:focus {
  color: var(--accent-color);
}

.contact-navig a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.contact-navig a:hover,
.contact-navig a:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
/* Кнопка замовлення */
.service-order {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.service-order:hover,
.service-order:focus {
  color: var(--title-color);
  background-color: var(--primary-text-color);
}
/* Основна частина */

/* Наші переваги */

.advantages-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}
/* Напрямки нашої діяльності */
.activity-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Наші співробітники */

.team-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-member-name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 0;
}
/* "Підвал" */
.bottom-block {
  background-color: var(--footer-background);
}
.studio-word-white {
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.post-addres {
  color: var(--primary-white-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}
.contact-navig-foot a {
  font-size: 14px;
  line-height: 24px;
  color: var(--footer-navigation);
}
.contact-navig-foot a:hover,
.contact-navig-foot a:focus {
  color: var(--accent-color);
}
/* Сторінка "Портфолио" */
/* Навигация сторінки */

.portfolio-navig-btn {
  color: var(--title-color);
  background-color: var(--portfol-navig-background);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* margin: 0px 8px 0px 0px;
  margin-right: 8px;
  margin-left: 8px; */
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-navig-btn:hover,
.portfolio-navig-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.3);
}
.portfolio-item {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
  margin-bottom: 0;
}
/* Для ДЗ №3 */
/* Шапка */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  justify-content: center;
  text-align: center; */
}
.box-top {
  display: flex;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
}
.head-box {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.site-navig {
  margin: 0;
  display: flex;
  padding: 32px 0px;
}
.site-navig > li {
  margin-right: 50px;
}
.site-navig > li :last-child {
  margin-right: 0px;
}

.contact-navig {
  display: flex;
  margin-left: auto;
  padding: 32px 0;
}
.mail {
  margin-right: 50px;
}
/* Герой */
.service-order {
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0px;
  border-width: 0px;
  border-radius: 4px;
}
/* Наші переваги */
.advantages {
  padding: 94px 0px 94px 0px;
}
.advantages-list {
  display: flex;
  text-align: left;
  margin: 0px;
  padding: 0;
}
.advantages-list > li {
  margin-right: 30px;
}
.advantages-list :last-child {
  margin-right: 0;
}
/* Наша діяльність */
.activity {
  padding-bottom: 94px;
}
.activity-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  justify-content: space-between;
  padding: 0;
}
.activity-list > li {
  margin-right: 30px;
}
.activity-list :last-child {
  margin-right: 0;
}
/* Наша команда */
.team {
  padding: 94px 0px 94px 0px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 0;
  text-align: center;
}

.team-list > li {
  margin-right: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.team-list :last-child {
  margin-right: 0;
}
/* Підвал */
.bottom-block {
  padding: 60px 0px;
  /* text-align: left; */
  /* height: 252px; */
}
/* .container-foot {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: flex-start;
  align-content: flex-start;} */

.logo-foot {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.contact-foot {
  margin: 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
}
.contact-navig-foot {
  margin-top: 9px;
}
.post-addres {
  margin-top: 20px;
}
/* .contact-foot > li {
  padding-bottom: 9px;
}
.contact-foot > li:first-child {
  padding-bottom: 20px;
}
.contact-foot > li:last-child {
  padding-bottom: 0;
} */
.foot-navig {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.foot-navig a:hover,
.foot-navig a:focus {
  color: var(--accent-color);
}
/* Сторінка Портфоліо */

/* Навігація сторінки Портфоліо */
.portfolio-navig {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 0;
}
/* Приклади робіт */
.portfolio {
  padding: 94px 0px;
}
.portfolio-navig > li {
  margin-right: 8px;
}
.portfolio-navig > li:last-child {
  margin-right: 0;
}
.portfolio-navig-btn {
  border-width: 0px;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}
.first-btn {
  padding: 0px 3px 0px 3px;
}
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  gap: 30px;
}
/* .porfolio-list > li {
} */
.portfolio-once {
  padding: 20px 0px 20px 24px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
/* .container-portfolio {
  width: 1200px;
} */
